---
import Layout from "../layouts/BlogPost.astro";

const level = 31;
---

<Layout
  title="Lore"
  description="About Devon Wells"
  pubDate={new Date("Jan 2 2025")}
>
  <h2>Greetings wanderer.</h2>
  <p>
    I'm <span>Dev Wells</span>.
  </p>
  <div>
    <span>lvl {level}</span>
    <span>Principal Software Engineer @ GoodRx</span>
    <span>they/he</span>
  </div>
  <ul>
    <li>Father to two young apprentices</li>
    <li>Digital spellcrafter</li>
    <li>Fantasy enthusiast</li>
    <li>Fledgling open sourceror</li>
    <li>Aspiring game creator</li>
  </ul>

  <h3>The Journey So Far</h3>
  <p>My quest began in the Blue Ridge Mountains of Southern Virginia.</p>
  <p>
    As a kid, I was lucky enough to stumble into the arcane art of programming.
    It resulted from the grinding of two tectonic plates in my life:
  </p>
  <ol>
    <li>my family's relative poverty</li>
    <li>and my love for video games</li>
  </ol>
  <p>
    Like other nerdy kids in the late 90s/early 00s, I spent my nights leeching
    the dial up to fight the good fight in RuneScape (and eventually,
    Maplestory).
  </p>

  <p>
    Around the same time, my dad kept introduced me to these bizarre stacks of
    colored squares, which I'd learn were called "Floppy Disks". They were
    wonderful--many even had little games on them.
  </p>

  <p>
    The fusion of said plates came when I learned I could write code to create
    on these silly squares
  </p>
  <p>...and, oh shit. I could sell them to my classmates.</p>
  <p>
    I quickly discovered what a gargantuan effort it was to make games, but boy
    oh boy could I write RuneScape bots. At 5-10c a disk, they were a hit.
    (Unfortunately, while I was a budding programmer, my business skills
    weren't' savvy enough to realize that this wasn't the financial genius I
    thought it would be originally. And it's a good thing, otherwise I may have
    never made them in the first place. I'm sure my parents thought it was cute
    that I was trying to help pay the bills with a handful of change from
    stealing their floppy disks.)
  </p>
  <p>
    Despite my best efforts, no amount of chunk change was going to save my
    parents' marriage (and bless my innocent heart for thinking that was the
    only problem).
  </p>
  <p>However, this was enough to spark my curiosity and charter my course.</p>
  <p>
    From here I ventured to Oberlin College, where I formally studied the craft
    from 2011 to 2015, narrowly earning my Bachelor of Arts in Computer Science.
    I say narrowly because I was an awful student. I'll spare you the typical
    coming-of-age details. Stories like this are a dime a dozen, and I encourage
    you to fill in the gaps with your own imagination!
  </p>
  <p>
    Suffice it to say that my mediocre grades were a poor reflection of how much
    I learned, in all the ways a sheltered southern nerd might at a liberal arts
    school.
  </p>
</Layout>
