---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Lore"
  description="About Devon Wells"
  pubDate={new Date("Jan 2 2025")}
>
  <h1>Greetings wanderer...</h1>
  <p>
    Since you've landed on this page, maybe you are wondering about me, the
    author of <span>The Grimoire</span>. I am <span>Dev Wells</span>:
  </p>
  <ul>
    <li>Dad to two snarky daughters</li>
    <li>Digital craftsperson</li>
    <li>Writer of code and prose</li>
    <li>Principal Software Engineer @ GoodRx</li>
  </ul>
</Layout>
