---
import Layout from "../layouts/BlogPost.astro";

const level = 31;
---

<Layout
  title="Lore"
  description="About Devon Wells"
  pubDate={new Date("Jan 2 2025")}
>
  <h2>Greetings wanderer.</h2>
  <p>
    I am <span>Dev Wells</span>.
  </p>
  <div>
    <span>lvl {level}</span>
    <span>Principal Software Engineer @ GoodRx</span>
    <span>they/he</span>
  </div>
  <ul>
    <li>Father to two young apprentices</li>
    <li>Digital spellcrafter</li>
    <li>Fantasy enthusiast</li>
    <li>Aspiring game creator</li>
  </ul>
</Layout>
