---
import Layout from "../layouts/BlogPost.astro";
const today = new Date();
export const prerender = false;
---

<Layout
  title="A Test Page With a SSR Date"
  description="Just a test page for dynamic content."
  pubDate={new Date("Jan 21, 2024")}><h1>{today.getTime()}</h1></Layout
>
