---
import Layout from "../layouts/BlogPost.astro";
const today = new Date();
export const prerender = false;
---

<Layout
	title="A Test Page With a SSR Date"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
><h1>{today.getTime()}</h1></Layout>
