---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <HeaderLink href="/">0 dev</HeaderLink>
  	<HeaderLink href="/blog">1 journal</HeaderLink>
  	<HeaderLink href="/about">2 lore</HeaderLink>
  </nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
