---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
  	<HeaderLink href="/blog">Words</HeaderLink>
  	<HeaderLink href="/about">About</HeaderLink>
  </nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	}
</style>
