---

---

<div>
  <h1>
    // Dev<span class="subtle">on</span><br />
    // Alex<span class="subtle">ander</span><br />
    // Wells
  </h1>
  <h3>Digital Wayfarer</h3>
  <style>
    h1 {
      font-family: "Eldritch";
      font-weight: bolder;
      color: var(--rosewater);
    }
    h3 {
      font-family: "Atkinson";
      font-weight: 400;
      color: var(--lavender);
    }
    .subtle {
      color: var(--overlay1);
    }
  </style>
</div>
