---

---

<div>
  <h1>
    Dev<span class="subtle">on</span><br />
    Alex<span class="subtle">ander</span><br />
    Wells
  </h1>
  <h3><span class="subtle"></span># The Grimoire</h3>
  <div class="divider">━━━ ◈ ━━━</div>
  <section class="intro">
    <p>
      A collection of ramblings on the arcane arts of software, craftsmanship,
      and life.
    </p>
  </section>
</div>
<style>
  h1 {
    font-family: "Eldritch";
    font-weight: bolder;
    color: var(--rosewater);
  }
  h3 {
    font-family: monospace;
    font-weight: 400;
    color: var(--red);
  }
  .subtle {
    color: var(--overlay1);
  }
  .divider {
    color: var(--overlay1);
    text-align: center;
    margin: 2rem 0;
  }

  .intro {
    max-width: 65ch;
    margin: 0 auto;
  }

  p {
    font-family: "Atkinson";
    line-height: 1.6;
  }
</style>
