---

---

<div>
  <h1 class="name">
    Dev<span class="subtle">on</span> Alex<span class="subtle">ander</span> Wells
  </h1>

  <style>
    .name {
      font-weight: bolder;
      color: var(--rosewater);
    }
    .subtle {
      font-weight: normal;
      color: var(--overlay1);
    }
  </style>
</div>
