---
const level = 31;
const cls = "Software Engineer";
const guild = "amino";
---

<h1>Dev Wells</h1>
<div class="stat-block">
  <div class="stat">
    <span class="stat-label">lvl</span>
    <span class="stat-value">{level}</span>
  </div>
  <div class="stat">
    <span class="stat-label">class</span>
    <span class="stat-value">{cls}</span>
  </div>
  <div class="stat">
    <span class="stat-label">guild</span>
    <span class="stat-value">{guild}</span>
  </div>
</div>
<style>
  h1 {
    font-family: "Eldritch";
    color: var(--mauve);
    margin-bottom: 0;
  }

  .stat-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .stat {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    text-transform: lowercase;
    font-family: monospace;
    color: var(--subtext0);
  }

  .stat-label {
    font-size: 0.8em;
  }

  .stat-value {
    font-weight: 700;
    color: var(--rosewater);
    font-size: 0.8em;
  }
</style>
